img{
    border: 12px black;
    border-radius: 150px;
    padding-right: 10px;
}
.article1{ 
    float: left;

}
.article2{
    float: right;
    background-color: aqua;
}
.container{
    display: grid;
    border: 10px;
    background-color: black;
}
.main1{
    font-size: larger;
}
h2{
    color: blue;
}
header{
    background-color:#63B3ED;
    color:#FFFFFF;
}
.flex-item{
text-align: center;
display:flex;
align-items: center;
justify-content: center;

}
